* {
    margin: 0;
    padding: 0;
}

#title {
    display: flex;
    justify-content: center;
    color: red;
}

#button {
    margin: 5vh;
}

.top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.bottom {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: black;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vw;
    color: white;
    background-color: black;
}